In [1]:
import pandas as pd
import numpy as np
import random

In [8]:
the_record = pd.read_csv('the_record.csv').drop(columns=['Unnamed: 0'])
clean = pd.read_csv('clean.csv').drop(columns=['Unnamed: 0'])

In [5]:
the_record.head()

,outlet,url,title,authors,publish_date,text
0,The Record,https://www.therecord.com/news/waterloo-region...,Two new COVID-19 cases in region,['Johanna Weidner'],"Tue., July 14, 2020",WATERLOO REGION — COVID-19 cases in Waterloo R...
1,The Record,https://www.therecord.com/news/waterloo-region...,Waterloo Region businesses hope people ‘want t...,['Robert Williams'],"Tue., July 14, 2020","WATERLOO REGION — The lights were off, the sig..."
2,The Record,https://www.therecord.com/news/waterloo-region...,UPDATE: Man who murdered Kitchener woman dies ...,['Gordon Paul'],"Tue., July 14, 2020",KITCHENER — Hugh McColl told a pack of lies on...
3,The Record,https://www.therecord.com/news/waterloo-region...,A woman walking her dog struck by vehicle in K...,"['Laura Booth', 'Liz Monteiro']","Tue., July 14, 2020",KITCHENER — A woman walking her dog was struck...
4,The Record,https://www.therecord.com/news/waterloo-region...,Premier Doug Ford visits Kitchener and Cambridge,['Waterloo Region Record'],"Tue., July 14, 2020",WATERLOO REGION — Premier Doug Ford will be ma...

In [6]:
the_record.shape

(280, 6)

In [9]:
clean.head()

,outlet,url,title,authors,publish_date,text,keywords
0,thestar,https://www.thestar.com/business/2020/07/11/th...,This Black woman entrepreneur built her hairst...,'Tess Kalinowski',2020-07-11 00:00:00,The kinky and the curly are obvious. But the “...,[]
1,thestar,https://www.thestar.com/business/2020/07/13/th...,The world drinks less coffee while office work...,'Marvin G. Perez',2020-07-13 00:00:00,"In a work-from-home world, hitting the local c...",[]
2,thestar,https://www.thestar.com/business/2020/07/13/co...,Coronavirus surge is killing America’s small b...,'Emily Flitter',2020-07-13 00:00:00,"On the last Friday of June, after Gov. Greg Ab...",[]
3,thestar,https://www.thestar.com/wsj/business/2020/07/1...,"At Disney, masks are required but ears are opt...",'Spencer Jakab',2020-07-13 00:00:00,You can’t ward off Covid-19 by wishing upon a ...,[]
4,thestar,https://www.thestar.com/wsj/business/2020/07/1...,Tesla is now bigger than JPMorgan and Procter ...,'Gunjan Banerji',2020-07-13 00:00:00,Tesla Inc.’s shares vaulted toward another rec...,[]

In [12]:
clean = clean.drop(columns=['keywords'])
clean.head()

,outlet,url,title,authors,publish_date,text
0,thestar,https://www.thestar.com/business/2020/07/11/th...,This Black woman entrepreneur built her hairst...,'Tess Kalinowski',2020-07-11 00:00:00,The kinky and the curly are obvious. But the “...
1,thestar,https://www.thestar.com/business/2020/07/13/th...,The world drinks less coffee while office work...,'Marvin G. Perez',2020-07-13 00:00:00,"In a work-from-home world, hitting the local c..."
2,thestar,https://www.thestar.com/business/2020/07/13/co...,Coronavirus surge is killing America’s small b...,'Emily Flitter',2020-07-13 00:00:00,"On the last Friday of June, after Gov. Greg Ab..."
3,thestar,https://www.thestar.com/wsj/business/2020/07/1...,"At Disney, masks are required but ears are opt...",'Spencer Jakab',2020-07-13 00:00:00,You can’t ward off Covid-19 by wishing upon a ...
4,thestar,https://www.thestar.com/wsj/business/2020/07/1...,Tesla is now bigger than JPMorgan and Procter ...,'Gunjan Banerji',2020-07-13 00:00:00,Tesla Inc.’s shares vaulted toward another rec...

In [ ]:
clean = pd.concat([clean, the_record])

# Creating the User Reading Behavior Dataset

In [220]:
clean = pd.read_csv('clean.csv').drop(columns=['Unnamed: 0'])

In [221]:
clean['article_id'] = np.arange(len(clean))

In [222]:
clean.shape

(4328, 8)

In [223]:
# Drop all rows with NA as a value

clean = clean.dropna()

In [224]:
clean.shape

(1362, 8)

In [225]:
for i in range(len(clean)):
    clean.iloc[i, 4] = str(clean.iloc[i, 4])
    clean.iloc[i, 4] = clean.iloc[i, 4][:10]

In [226]:
type(clean.iloc[0, 4])

str

In [230]:
# Creating a datetime object for publish_date

for i in range(len(clean)):
    x = datetime.datetime.strptime((clean.iloc[i, 4]),"%Y-%m-%d")
    x = x.strftime("%Y-%m-%d")
    #new_x = x.strptime(x, "%Y-%m-%d")
    clean.iloc[i, 4] = x

For user reading dataset, columns will include:

- date (read)
- outlet 
- url
- title
- start_time
- finish_time
- reading_time

**Create arbitrary number of dates (in the range of a week)**

In [192]:
import datetime
import pytz

In [232]:
start = datetime.datetime.strptime("14-07-2020", "%d-%m-%Y")
end = datetime.datetime.strptime("21-07-2020", "%d-%m-%Y")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

In [233]:
datelist = []

for x in range(10): 
    date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    
    for day in date_generated:
        d = day.strftime("%Y-%m-%d")
        datelist.append(day.strptime(d, "%Y-%m-%d"))

In [234]:
user_reading = pd.DataFrame({'date_read': datelist})
user_reading = user_reading.sort_values(by='date_read', ascending= True)
user_reading.reset_index(drop=True, inplace=True)

In [235]:
type(user_reading.loc[0, 'date_read'])

pandas._libs.tslibs.timestamps.Timestamp

In [236]:
user_reading.tail()

    date_read
65 2020-07-20
66 2020-07-20
67 2020-07-20
68 2020-07-20
69 2020-07-20

**Sample random articles from 'clean.csv'**

In [35]:
# Create subset of clean.csv with articles included in reading date range (July 14 - July 20)

"""start_date = pd.to_datetime('2020-07-13', utc=True)
end_date = pd.to_datetime('2020-07-20', utc=True)

start_date = start_date.tz_convert('US/Pacific')
end_date = end_date.tz_convert('US/Pacific')"""

In [237]:
type(clean.iloc[0, 4])

str

In [249]:
temp = pd.DataFrame(columns=['outlet', 'url', 'title', 'authors', 'publish_date', 'text', 'keywords',
       'article_id'])

for i in range(len(clean)):
    if (datetime.datetime.strptime(clean.iloc[i, 4], "%Y-%m-%d") >= start) and ((datetime.datetime.strptime(clean.iloc[i, 4], "%Y-%m-%d")) <= end):
        temp.loc[i] = clean.iloc[i, :]

In [251]:
#temp = clean[(datetime.datetime.strptime(clean['publish_date'], "%d-%m-%Y") >= start) & ((datetime.datetime.strptime(clean['publish_date'], "%d-%m-%Y")) <= end)]
temp = temp[['publish_date', 'outlet', 'url', 'title']]
temp.reset_index(drop=True, inplace=True)

In [252]:
temp

,publish_date,outlet,url,title
0,2020-07-16,ctvnews,https://www.ctvnews.ca/health/coronavirus/ariz...,Arizona man in a coma from coronavirus wakes u...
1,2020-07-14,ctvnews,https://www.ctvnews.ca/health/coronavirus/how-...,How deadly is COVID-19 for children? Here's wh...
2,2020-07-16,ctvnews,https://bc.ctvnews.ca/covid-19-outbreak-in-new...,COVID-19 outbreak in newborn intensive care un...
3,2020-07-15,ctvnews,https://www.ctvnews.ca/health/coronavirus/why-...,Why a closed border hasn't kept international ...
4,2020-07-17,ctvnews,https://montreal.ctvnews.ca/quebec-recovery-nu...,Quebec recovery numbers skyrocket after new sy...
...,...,...,...,...
632,2020-07-15,northdeltareporter,https://www.northdeltareporter.com/entertainme...,‘Digital Stage’ gigs embraced by Surrey musici...
633,2020-07-14,northdeltareporter,https://www.northdeltareporter.com/entertainme...,B.C.’s virtual ‘SoundON’ concerts kick off wit...
634,2020-07-15,northdeltareporter,https://www.northdeltareporter.com/opinion/col...,COLUMN: Me to We Scandal – Should Teachers Be ...
635,2020-07-17,surreynowleader,https://www.surreynowleader.com/news/re-openin...,Re-opening of White Rock parkade awaits counci...
636,2020-07-14,surreynowleader,https://www.surreynowleader.com/news/honks-sir...,"Honks, sirens and thumbs-up at ‘Keep the RCMP ..."

In [262]:
user_reading['date_read'].value_counts()

2020-07-15    10
2020-07-20    10
2020-07-18    10
2020-07-16    10
2020-07-14    10
2020-07-19    10
2020-07-17    10
Name: date_read, dtype: int64

In [261]:
temp['publish_date'].value_counts()

2020-07-17    234
2020-07-16    222
2020-07-15    108
2020-07-14     73
Name: publish_date, dtype: int64

In [273]:
# For each date read, sample one article (published before date read)

new_temp = pd.DataFrame(columns=['publish_date', 'outlet', 'url', 'title'])

for i in range(70): 
    holder = pd.DataFrame(columns=['publish_date', 'outlet', 'url', 'title'])
    d_ur = user_reading.loc[i]['date_read']
    
    for j in range(len(temp)):
        d_temp = datetime.datetime.strptime(temp.iloc[j, 0], "%Y-%m-%d")
        
        
        if d_temp <= d_ur:
            holder = holder.append(temp.iloc[j, :])
            
    print(str(len(holder)))
        
    x = holder.sample(1)
    new_temp = new_temp.append(x)

new_temp.reset_index(drop=True, inplace=True)

73
73
73
73
73
73
73
73
73
73
181
181
181
181
181
181
181
181
181
181
403
403
403
403
403
403
403
403
403
403
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637
637

In [274]:
user_reading = pd.concat([user_reading, new_temp], axis=1)

**Create random ranges of for reading times**

In [275]:
start_time = datetime.time(0,0,0)

user_reading['start_time'] = start_time

In [276]:
for i in range(len(user_reading)):
    end_time = datetime.time(0, random.randint(1, 10), random.randint(0, 59))
    user_reading.loc[i, 'end_time'] = end_time

**Find reading time for article**

In [277]:
from datetime import datetime, date, time

for i in range(len(user_reading)):
    diff = datetime.combine(date.today(), user_reading.loc[i, 'end_time']) - datetime.combine(date.today(), user_reading.loc[i, 'start_time'])
    user_reading.loc[i, 'reading_time'] = diff.total_seconds()

### Exploration on User Reading Dataset

In [278]:
user_reading.head()

,date_read,publish_date,outlet,url,title,start_time,end_time,reading_time
0,2020-07-14,2020-07-14,abbynews,https://www.abbynews.com/sports/chilliwack-chi...,Chilliwack Chiefs alum Jordan Kawaguchi named ...,00:00:00,00:02:27,147.0
1,2020-07-14,2020-07-14,thestar,https://www.thestar.com/entertainment/televisi...,Naya Rivera lent her immense talent to ‘Glee.’...,00:00:00,00:02:50,170.0
2,2020-07-14,2020-07-14,mapleridgenews,https://www.mapleridgenews.com/community/you-p...,You-pick blueberry producers in Maple Ridge an...,00:00:00,00:05:16,316.0
3,2020-07-14,2020-07-14,northdeltareporter,https://www.northdeltareporter.com/business/so...,South Surrey car wash to help raise money for ...,00:00:00,00:06:07,367.0
4,2020-07-14,2020-07-14,ctvnews,https://bc.ctvnews.ca/dr-henry-says-b-c-s-surg...,Dr. Henry says B.C.'s surge in COVID-19 cases ...,00:00:00,00:01:52,112.0

In [279]:
# To show which outlet articles are read from 

user_reading['outlet'].value_counts()

ctvnews                21
thestar                12
langleyadvancetimes     9
torontosun              8
abbynews                8
mapleridgenews          6
theprogress             3
northdeltareporter      2
cp24                    1
Name: outlet, dtype: int64

In [280]:
# Average reading time in minutes 

np.average(user_reading['reading_time'])/60

5.6519047619047615

**Exporting the dataset as a .csv file**

In [281]:
user_reading.to_csv('user_reading_cleaned.csv')