In [1]:
import pandas as pd
import numpy as np
import random

In [8]:
the_record = pd.read_csv('the_record.csv').drop(columns=['Unnamed: 0'])
clean = pd.read_csv('clean.csv').drop(columns=['Unnamed: 0'])

In [5]:
the_record.head()

,outlet,url,title,authors,publish_date,text
0,The Record,https://www.therecord.com/news/waterloo-region...,Two new COVID-19 cases in region,['Johanna Weidner'],"Tue., July 14, 2020",WATERLOO REGION — COVID-19 cases in Waterloo R...
1,The Record,https://www.therecord.com/news/waterloo-region...,Waterloo Region businesses hope people ‘want t...,['Robert Williams'],"Tue., July 14, 2020","WATERLOO REGION — The lights were off, the sig..."
2,The Record,https://www.therecord.com/news/waterloo-region...,UPDATE: Man who murdered Kitchener woman dies ...,['Gordon Paul'],"Tue., July 14, 2020",KITCHENER — Hugh McColl told a pack of lies on...
3,The Record,https://www.therecord.com/news/waterloo-region...,A woman walking her dog struck by vehicle in K...,"['Laura Booth', 'Liz Monteiro']","Tue., July 14, 2020",KITCHENER — A woman walking her dog was struck...
4,The Record,https://www.therecord.com/news/waterloo-region...,Premier Doug Ford visits Kitchener and Cambridge,['Waterloo Region Record'],"Tue., July 14, 2020",WATERLOO REGION — Premier Doug Ford will be ma...

In [6]:
the_record.shape

(280, 6)

In [9]:
clean.head()

,outlet,url,title,authors,publish_date,text,keywords
0,thestar,https://www.thestar.com/business/2020/07/11/th...,This Black woman entrepreneur built her hairst...,'Tess Kalinowski',2020-07-11 00:00:00,The kinky and the curly are obvious. But the “...,[]
1,thestar,https://www.thestar.com/business/2020/07/13/th...,The world drinks less coffee while office work...,'Marvin G. Perez',2020-07-13 00:00:00,"In a work-from-home world, hitting the local c...",[]
2,thestar,https://www.thestar.com/business/2020/07/13/co...,Coronavirus surge is killing America’s small b...,'Emily Flitter',2020-07-13 00:00:00,"On the last Friday of June, after Gov. Greg Ab...",[]
3,thestar,https://www.thestar.com/wsj/business/2020/07/1...,"At Disney, masks are required but ears are opt...",'Spencer Jakab',2020-07-13 00:00:00,You can’t ward off Covid-19 by wishing upon a ...,[]
4,thestar,https://www.thestar.com/wsj/business/2020/07/1...,Tesla is now bigger than JPMorgan and Procter ...,'Gunjan Banerji',2020-07-13 00:00:00,Tesla Inc.’s shares vaulted toward another rec...,[]

In [12]:
clean = clean.drop(columns=['keywords'])
clean.head()

,outlet,url,title,authors,publish_date,text
0,thestar,https://www.thestar.com/business/2020/07/11/th...,This Black woman entrepreneur built her hairst...,'Tess Kalinowski',2020-07-11 00:00:00,The kinky and the curly are obvious. But the “...
1,thestar,https://www.thestar.com/business/2020/07/13/th...,The world drinks less coffee while office work...,'Marvin G. Perez',2020-07-13 00:00:00,"In a work-from-home world, hitting the local c..."
2,thestar,https://www.thestar.com/business/2020/07/13/co...,Coronavirus surge is killing America’s small b...,'Emily Flitter',2020-07-13 00:00:00,"On the last Friday of June, after Gov. Greg Ab..."
3,thestar,https://www.thestar.com/wsj/business/2020/07/1...,"At Disney, masks are required but ears are opt...",'Spencer Jakab',2020-07-13 00:00:00,You can’t ward off Covid-19 by wishing upon a ...
4,thestar,https://www.thestar.com/wsj/business/2020/07/1...,Tesla is now bigger than JPMorgan and Procter ...,'Gunjan Banerji',2020-07-13 00:00:00,Tesla Inc.’s shares vaulted toward another rec...

In [ ]:
clean = pd.concat([clean, the_record])

# Creating the User Reading Behavior Dataset

In [2]:
clean = pd.read_csv('clean.csv').drop(columns=['Unnamed: 0'])

In [3]:
clean.shape

(4328, 7)

In [4]:
# Drop all rows with NA as a value

clean = clean.dropna()

In [5]:
clean.shape

(1362, 7)

In [6]:
#clean['publish_date'] = 

#pd.to_datetime(clean['publish_date']).apply(lambda x: x.tz_localize('UTC').tz_convert('US/Eastern'))

clean['publish_date'] = pd.to_datetime(clean['publish_date'], utc=True)
clean.set_index('publish_date', drop=False, inplace=True)
clean.index = clean.index.tz_convert('US/Pacific')

clean.index.tzinfo
#clean

For user reading dataset, columns will include:

- date (read)
- outlet 
- url
- title
- start_time
- finish_time
- reading_time

**Create arbitrary number of dates (in the range of a week)**

In [7]:
import datetime
import pytz

In [8]:
datelist = []

for x in range(10): 
    x = pd.date_range(end = datetime.datetime.today(), periods = 7).to_pydatetime().tolist()
    
    for i in x: 
        day = pd.to_datetime(i, utc=True)
        day.tz_convert('US/Pacific')
        datelist.append(day)

In [9]:
user_reading = pd.DataFrame({'date_read': datelist})
user_reading = user_reading.sort_values(by='date_read', ascending= True)
user_reading.reset_index(drop=True, inplace=True)

In [10]:
type(user_reading['date_read'])

pandas.core.series.Series

In [11]:
user_reading.tail()

                          date_read
65 2020-07-20 21:37:14.089588+00:00
66 2020-07-20 21:37:14.092140+00:00
67 2020-07-20 21:37:14.094022+00:00
68 2020-07-20 21:37:14.095346+00:00
69 2020-07-20 21:37:14.096598+00:00

**Sample random articles from 'clean.csv'**

In [12]:
# Create subset of clean.csv with articles included in reading date range (July 14 - July 20)

start_date = pd.to_datetime('2020-07-13', utc=True)
end_date = pd.to_datetime('2020-07-20', utc=True)

start_date = start_date.tz_convert('US/Pacific')
end_date = end_date.tz_convert('US/Pacific')

In [13]:
temp = clean[(clean['publish_date'] > start_date) & (clean['publish_date'] < end_date)]
temp = temp[['publish_date', 'outlet', 'url', 'title']]
temp.reset_index(drop=True, inplace=True)

In [14]:
temp

,publish_date,outlet,url,title
0,2020-07-16 12:15:00+00:00,ctvnews,https://www.ctvnews.ca/health/coronavirus/ariz...,Arizona man in a coma from coronavirus wakes u...
1,2020-07-14 15:40:00+00:00,ctvnews,https://www.ctvnews.ca/health/coronavirus/how-...,How deadly is COVID-19 for children? Here's wh...
2,2020-07-17 04:15:00+00:00,ctvnews,https://bc.ctvnews.ca/covid-19-outbreak-in-new...,COVID-19 outbreak in newborn intensive care un...
3,2020-07-15 18:40:00+00:00,ctvnews,https://www.ctvnews.ca/health/coronavirus/why-...,Why a closed border hasn't kept international ...
4,2020-07-17 15:13:00+00:00,ctvnews,https://montreal.ctvnews.ca/quebec-recovery-nu...,Quebec recovery numbers skyrocket after new sy...
...,...,...,...,...
670,2020-07-15 20:25:00+00:00,northdeltareporter,https://www.northdeltareporter.com/entertainme...,‘Digital Stage’ gigs embraced by Surrey musici...
671,2020-07-14 21:50:00+00:00,northdeltareporter,https://www.northdeltareporter.com/entertainme...,B.C.’s virtual ‘SoundON’ concerts kick off wit...
672,2020-07-15 20:57:00+00:00,northdeltareporter,https://www.northdeltareporter.com/opinion/col...,COLUMN: Me to We Scandal – Should Teachers Be ...
673,2020-07-17 13:00:00+00:00,surreynowleader,https://www.surreynowleader.com/news/re-openin...,Re-opening of White Rock parkade awaits counci...
674,2020-07-14 16:40:00+00:00,surreynowleader,https://www.surreynowleader.com/news/honks-sir...,"Honks, sirens and thumbs-up at ‘Keep the RCMP ..."

In [15]:
# For each date read, sample one article (published before date read)

new_temp = pd.DataFrame(columns=['publish_date', 'outlet', 'url', 'title'])

for i in range(70): 
    day= user_reading.loc[i]
    d = day['date_read']
    x = temp[temp['publish_date'] <= day['date_read']].sample(1)
    new_temp = new_temp.append(x)

new_temp.reset_index(drop=True, inplace=True)

In [16]:
user_reading = pd.concat([user_reading, new_temp], axis=1)

**Create random ranges of for reading times**

In [17]:
start_time = datetime.time(0,0,0)

user_reading['start_time'] = start_time

In [18]:
for i in range(len(user_reading)):
    end_time = datetime.time(0, random.randint(1, 10), random.randint(0, 59))
    user_reading.loc[i, 'end_time'] = end_time

**Find reading time for article**

In [19]:
from datetime import datetime, date, time

for i in range(len(user_reading)):
    diff = datetime.combine(date.today(), user_reading.loc[i, 'end_time']) - datetime.combine(date.today(), user_reading.loc[i, 'start_time'])
    user_reading.loc[i, 'reading_time'] = diff.total_seconds()

### Exploration on User Reading Dataset

In [20]:
user_reading.head()

,date_read,publish_date,outlet,url,title,start_time,end_time,reading_time
0,2020-07-14 21:37:14.068921+00:00,2020-07-14 16:19:00+00:00,ctvnews,https://northernontario.ctvnews.ca/two-floridi...,Two Floridians fined for violating the Quarant...,00:00:00,00:08:58,538.0
1,2020-07-14 21:37:14.083603+00:00,2020-07-14 00:00:00+00:00,thestar,https://www.thestar.com/entertainment/stage/20...,"Groundlings, Upright Citizens Brigade face rac...",00:00:00,00:07:42,462.0
2,2020-07-14 21:37:14.085100+00:00,2020-07-14 15:19:00+00:00,ctvnews,https://www.ctvnews.ca/sci-tech/road-traffic-m...,Road traffic microplastics flooding world's oc...,00:00:00,00:09:59,599.0
3,2020-07-14 21:37:14.086564+00:00,2020-07-14 19:56:00+00:00,cp24,https://www.cp24.com/world/uk-backtracks-on-gi...,UK backtracks on giving Huawei role in high-sp...,00:00:00,00:09:41,581.0
4,2020-07-14 21:37:14.088102+00:00,2020-07-13 19:50:00+00:00,abbynews,https://www.abbynews.com/news/missing-richmond...,Missing Richmond man last seen in Chilliwack –...,00:00:00,00:03:35,215.0

In [21]:
# To show which outlet articles are read from 

user_reading['outlet'].value_counts()

ctvnews                27
thestar                12
mapleridgenews         10
torontosun              6
cp24                    6
abbynews                4
langleyadvancetimes     2
theprogress             2
northdeltareporter      1
Name: outlet, dtype: int64

In [22]:
# Average reading time in minutes 

np.average(user_reading['reading_time'])/60

6.335714285714286

**Exporting the dataset as a .csv file**

In [23]:
user_reading.to_csv('user_reading.csv')